extends top_banner.jade

block content
    div#content_index
        table
            tr
                td#left_column 
                    ul
                        li
                            a(href="") A
                        li
                            a(href="") B
                        li
                            a(href="") C
                        li

                td#center_content
                    p Fusce et placerat libero. Vestibulum venenatis urna massa, id dictum tortor vehicula sed. Nam odio elit, sollicitudin sit amet risus id, elementum volutpat nunc. Phasellus fermentum facilisis nibh, ut vehicula nisi feugiat vel. Nulla facilisi. Duis sit amet sollicitudin arcu. Fusce consequat at massa nec tempus.

                    Integer enim nisl, imperdiet ut pretium at, feugiat sit amet nunc. Etiam magna mi, vehicula tincidunt semper sit amet, pharetra eget tellus. Phasellus tempor, ligula nec finibus scelerisque, lorem nunc tempus nisi, sed scelerisque velit lectus iaculis nunc. Integer iaculis sed nulla ut molestie. Pellentesque vel magna velit. Praesent et venenatis risus. In nec libero a nisi tempus ullamcorper at sit amet est. Praesent ornare dictum facilisis. Quisque id malesuada nunc, non porta nisl. Mauris eu ipsum sed lectus ornare cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit semper lorem pharetra sodales. Vestibulum vel dui eu dui mattis sagittis.

                td#right_column 
                    ul
                        li
                            a(href="") A
                        li
                            a(href="") B
                        li
                            a(href="") C
                        li
    div#tail
        include tail.jade