link(href="css/top_nav.css",rel="stylesheet")
link(href="css/warband.css",rel="stylesheet")
script(src="js/warbands_timer.js")
<meta charset="utf-8">
doctype html

div#top_banner
    img#icon(src="images/tip-it.png")
div#nav_bar
div#navBanner
    div#banner_list
        ul
            li
                a(href="index.html") HOME
            li
                a(href="warbands_timer.html") WB TRACKER
            //
                li
                    a(href="") A
                li
                    a(href="") A
                li
                    a(href="") A
div#block_content    
    block content

