extends top_banner.jade

block content
    div#content
        h1 Time Until Next Wave
        div#clockdiv
            div
                span.hours
                div.smalltext
            div
                span.minutes
                div.smalltext
            div
                span.seconds
                div.smalltext
